@table-name: m-table;

.@{table-name}-block {
  background-color: #fff;
}

.@{table-name}{
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
  table-layout: fixed;
  &-title{
    line-height: 30px;
    padding: 5px 10px;
    &::after,
    &::before {
      content: "";
      display: table;
      clear: both;
    }
  }
  &-slot{
    display: none;
  }
  &-header {
    overflow: hidden;
  }
  &&-head{
    user-select: none;
    th {
      height: 36px;
      background: #eaeaea;
    }
  }

  &-body{
    margin-top: -1px;
    overflow: auto;
  }
  
  &-void{
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: #7c849a;
  }
  &&__border + &-void{
    border: solid 1px #DDDDDD;
  }

  &&__stripe &-row:nth-child(even){
    background-color: #f5f5f5;
  }
  & &-row:hover{
    background-color: #f6f6f6 !important;
  }
  & &-column{
    box-sizing: border-box;
    overflow: hidden;
    padding: 5px 12px;
    vertical-align: middle;

    &.is-center{
      text-align: center;
    }
    &.is-left{
      text-align: left;
    }
    &.is-right{
      text-align: right;
    }
    .cell {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  &&__border &-column{
    border: solid 1px #DDDDDD;
  }
}

